.App {
  text-align: center;
}

.App-logo {
  margin: 5vmin;
  width: 90%;
  max-width: 700px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion {
  margin-top: 40px;
}

.form-check-label {
  text-align: left;
  float: left;
}

.standalone {
  margin-left: 20px;
}

.icon {
  width: 25px;
  float: left;
  margin-right: 15px;
}

.result .icon {
  float: none;
}

.container {
  padding-bottom: 150px;
}

.btn-group.class-selector-dropdown{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.class-selector-dropdown {
  width: 150px;
  display: block;
}

.class-selector-dropdown p {
  display: inline-block;
  margin-bottom: 0;
}
.class-selector-dropdown li:hover {
  cursor: pointer;
}

.class-selector-dropdown li p {
  margin-top: 5px;
  margin-left: 15px;
}
